:root{
    --button-box-shadow-color: black;
    --button-text-shadow-color: black;
    --button-border-radius: 5px;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    overflow: auto;
    background-color: #ffe291;
}

div.app-container {
    display: block;
    height: 100vh;
    overflow: hidden;
}

div.app-container__slider{
    position: relative;
    top: 0;
    transition: top 500ms ease;
}

div.frame{
    position: relative;
}

.btn-container {
    position: relative;
    height: 100vh;
    width: calc(100% - 2px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: stretch;
}


.btn-container .action-button {
    width: 50%;
    color: white;
    font-size: 72px;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    position: relative;
    top: 1px;
    height: calc(100% - 10px);
    box-shadow:
        0 1px 0 var(--button-box-shadow-color),
        0 2px 0 var(--button-box-shadow-color),
        0 3px 0 var(--button-box-shadow-color),
        0 4px 0 var(--button-box-shadow-color),
        0 5px 0 var(--button-box-shadow-color),
        0 6px 0 var(--button-box-shadow-color),
        0 7px 0 var(--button-box-shadow-color),
        0 8px 0 var(--button-box-shadow-color);
    text-shadow: 1px 1px var(--button-text-shadow-color), 1px 2px var(--button-text-shadow-color), 2px 1px var(--button-text-shadow-color);
    transition: all 100ms ease;
}

.btn-container .action-button:focus,
.btn-container .action-button:active,
.btn-container .action-button:hover{
    top: 9px;
    box-shadow: none;
}

.btn-container button#plus {
    background: #66ffa4;
    color: white;
    --button-box-shadow-color: green;
    --button-text-shadow-color: green;
    border-radius: 0 var(--button-border-radius) var(--button-border-radius) 0;
}


.btn-container button#minus {
    background: #ff6766;
    color: white;
    --button-box-shadow-color: #b64848;
    --button-text-shadow-color: #b64848;
    border-radius: var(--button-border-radius) 0 0 var(--button-border-radius);
}

.btn-container .score {
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: yellow;
    color: red;
    border-radius: 5px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    padding: 6px 12px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.btn-container .score:before {
    content: attr(score);
    font-size: 42px;
}

.logs-container {
    font-family: Consolas;
    font-size: 14px;
}

.logs-container .log-item {
    margin-top: 5px;
    padding: 2px;
    color: white;
}

.logs-container .log-item.remove {
    background: #b64848;
}

.logs-container .log-item.add {
    background: green;
}

.score__subtitle{
    font-size: 12px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    background: none;
    display: block;
    width: auto;
}

.controls{
    position: absolute;
    flex-wrap: nowrap;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 8px;
    /* background: #ffe291; */
    color: white;
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.checkbox{
    user-select: none;
}

.control__item{

}

.logs-container{
    height: calc(100vh - 60px);
    position: relative;
    top: 60px;
    background: white;
    overflow: auto;
}

label, input[type=checkbox]{
    cursor: pointer;
}
.state-icon-checkbox{
    display: none;
}
.state-icon-checkbox:checked + label .active{
    display: inline-block;
}
.state-icon-checkbox:not(:checked) + label .inactive{
    display: inline-block;
}
.button-1,
.state-icon-checkbox + label{
    display: inline-block; /* overriden by checkbox state */
    box-sizing: content-box;
    background: transparent;
    font-size: 0;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    padding: 5px;
    background-color: #ffe291;
    border: 1px solid #2c3e50;
    box-shadow: 
        0 1px 0 #2c3e50,
        0 2px 0 #2c3e50;
}
.button-1{
    position: relative;
}
.button-1 img{
    display: inline-block;
    width: 100%;
    height: auto;
}
.button-1 .icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 24px;
    opacity: 1;
}
.button-1.inactive img,
.button-1.inactive .icon{
    opacity: 0.5;
}
.state-icon-checkbox + label img{
    display: none;
    width: 100%;
    height: auto;
}

.button-with-indicator{
    position: relative;
}
.button-with-indicator:before{
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
}
.button-with-indicator.up-indicator:before{
    bottom: 100%;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid black;
}
.button-with-indicator.down-indicator:before{
    top: 100%;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid black;
}

button{
    cursor: pointer;
}

.stopwatch-container{
    position: absolute;
    display: flex;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Courier New', Courier, monospace;
    gap: 10px;
    align-items: stretch;
}
.stopwatch-container.hidden{
    display: none;
}
.stopwatch-action{
    font-size: 0;
    border: none;
    line-height: normal;
    padding: 2px 6px;
    background: black;
}
.stopwatch-action img{
    width: auto;
    height: 24px;
}

.stopwatch{
    display: flex;
    align-items: center;
    background: black;
    color: red;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 6px;
}
.stopwatch.hidden{
    display: none;
}
.stopwatch:after{
    content: attr(data-value);
}